input{
    margin: 10px;
}
  
#submitbutton{
      margin-top: 10px;
      margin-bottom: 20px;
}

#sortbutton{
    margin-top: 10px;
    margin-bottom: 20px;
    display: none;
}

#leftbox {
    float:left; 
    background:Red;
    width:50%;
}

#rightbox{
    float:right;
    background:blue;
    width:50%;
}